{
  "db_clients": [
    {
      "name": "default",
      "rdbms": "postgresql",
      "host": "127.0.0.1",
      "port": 5432,
      "dbname": "postgres",
      "user": "postgres",
      "passwd": "postgres",
      "is_fast": true,
      "connection_number": 1,
      "filename": ""
    }
  ],
  "redis_clients": [
    {
      "name": "default",
      "host": "127.0.0.1",
      "port": 6379,
      "username": "",
      "passwd": "",
      "db": 0,
      "is_fast": true,
      "number_of_connections": 1,
      "timeout": -1.0
    }
  ],
  "custom_config": {
    "github_app": {
      "client_id": "",
      "private_key_path": ""
    },
    "api_key": ""
  }
}